{% extends "baseTemplate.html" %}

{% block title %}{{ super() }} - About Me{% endblock %}

{% block content %}
<!-- page that talks a little about myself in case anyone is interested in my
  personal interested and why i made this-->
<div class="titles">
  <h1>ABOUT ME</h1>
</div>
    <div class="container">
      <div id="me" >
        <p>
          Hello! <br><br>
          My name is Briana and I am a second year computer science
          undergraduate who has decided to make a website about my favourite
          show Death Note. <br>
          The purpose of this website is for school purposes, specifically
          the course SOEN 287 at Concordia University.<br><br>
          Despite my love for this show, I did not have time to write the
          content of this website myself, so I have taken the needed information
          online. Therefore, by pressing on L below, you will find all the sources to
          where I have retrieved it all.<br><br>
          <u>My Likes:</u><br>
            - My Favourite Character is L. <br>
            - My Favourite Episodes are:
            <ul>
              <li>Episode 2: Confrontation</li>
              <li>Episode 25: Silence</li>
              <li>Episode 37: New World</li>
            </ul>
            - I have an appreciation for the dubbed version of this anime.
        </p>
      </div>
    </div>
{% endblock %}
