<!-- Code inspired from https://github.com/CoreyMSchafer/code_snippets/tree/master/Python/Flask_Blog/08-Posts/flaskblog -->

{% extends "baseTemplate.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
            {% if current_user.is_authenticated %}
                <h2 class="account-heading">Hi {{ current_user.name }}, having issues?</h2>
            {% else %}
                <h2 class="account-heading">Hi there, having issues?</h2>
            {% endif %}
          <p class="text-secondary">Send us an email <a href="mailto:MainProject353@gmail.com">Here</a></p>
        </div>
      </div>
    </div>
{% endblock content %}
