<!-- this is the base template that most other pages will inherit.
They will inherit the navigation bar as well as the footer -->
<!DOCTYPE html>
<html>
  <head>{% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}Death Note Fan Page{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>body {
        padding-top: 70px
    }</style>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  {% endblock %}</head>
  <body>
    {% for message in get_flashed_messages() %}
        {{ message }}<br/>
    {% endfor %}
    <!-- nav-bar -->
    <div id="page-container">
      {% block header %}
      <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
      <a class="navbar-brand" href="/">
      <img src="https://img4.goodfon.com/wallpaper/nbig/5/6f/ryuk-death-note-tetrad-smerti-riuk-smert.jpg" width=60px alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="/description">Description</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/characters">Characters</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/discussion">Discussion</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/suggestions">Suggestions</a>
              </li>
          </ul>
        </div>
        <!-- if authenticated then the user has the option to logout or
            view their profile, otherwise, user has the option to login or register -->
          {% if current_user.is_authenticated %}
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
              <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
          {% else %}
              <a class="nav-link" href="{{ url_for('login') }}" style="float:right; color:white;">Login</a>
              <a class="nav-link" href="{{ url_for('register') }}" style="float:right; color:white;">Register</a>
          {% endif %}

      </nav>
    {% endblock %}
  <div id="content-wrap">
    {% block content %}
    {% endblock %}
  </div>
  <!-- footer -->
  <div id="footer">
    {% block footer %}
      <table id="footerTable">
        <tbody>
          <tr>
            <td>
              <a href="/aboutMe">
              <img src="https://vignette.wikia.nocookie.net/deathnote/images/0/05/299276.jpg/revision/latest/scale-to-width-down/2000?cb=20160609084120"
               width= 70px alt= "Light Yagami" ></a>
            </td>
            <td><p>     </p></td>
            <td>
              <a href="/aboutContent">
              <img src="https://vignette.wikia.nocookie.net/deathnote/images/7/76/299276L.jpg/revision/latest?cb=20160609084420"
              width= 73px alt= "L" ></a>
            </td>
          </tr>
          <tr>
            <th>Creator</th>
            <th><p>     </p></th>
            <th>Content</th>
          </tr>
        </tbody>
      </table>
      <br>
      <p class="toCenter">This is a website produced by a student from Concordia University.</p>
  {% endblock %}
  </div>
  </div>
  </body>

</html>
