{% extends "baseTemplate.html" %}

{% block title %}{{ super() }} - Characters{% endblock %}

{% block content %}
<!-- page that describes the different characters
    descriptions are given in tables-->
<div class="titles">
  <h1>CHARACTERS</h1>
</div>
  <div class="container">
    <table border="1" class="table table-striped">
      <tbody>
        <tr class="toCenter">
          <th colspan="2">Light Yagami</th>
          <th>Description</th>
        </tr>
        <tr>
          <th colspan="2" class="toCenter">
            <a><img src="https://vignette.wikia.nocookie.net/deathnote/images/0/05/299276.jpg/revision/latest/scale-to-width-down/212?cb=20160609084120"
           alt = "Picture of Light"></a></th>
          <td rowspan="8" width="50%">
            <p class = "description">
              Light is characterized as hardworking, talented, and a natural
              genius. Highly perceptive and good with problem solving, Light was
              a skilled planner and good at mapping out scenarios. Furthermore,
              Light was very popular among peers and adored by his family members.
              However, his high intelligence and constant praise from adults laid
              the foundation for an intense level of hubris which quickly took
              effect once he obtained the notebook. <br><br> Similar to his father,
              Light has a strong sense of justice but this quickly becomes warped
              after he becomes tainted by the notebook’s power. Believing the
              world to be "rotten," he uses his Death Note as a means by which he
              can enact his will to rid the world of evil people. Light's main
              goal is to create a new world that is free of injustice and
              populated only with people he deems honest and kind, thus becoming
              the "God of the new world". Light is decisive and driven to achieve
              his ambitions, without faltering one bit in his beliefs. Despite
              knowing the criminality of murder, Light would consider his actions
              the ultimate “sacrifice” to help the world. <br><br> Through use of the
              Death Note, Light quickly begins to develop a cold and ruthless
              nature. As a utilitarian, he will take any means in order to achieve
              his goals. His actions do put his family in harm’s way, though he
              does continue to love them regardless.
            </p>
          </td>
        </tr>
        <tr>
          <td><Strong>Species</Strong></td>
          <td>Human</td>
        </tr>
        <tr>
          <td><Strong>Age</Strong></td>
          <td><p>17-18 (pre-timeskip)</p><p>23 (post-timeskip)</p></td>
        </tr>
        <tr>
          <td><Strong>Height</Strong></td>
          <td>179 cm</td>
        </tr>
        <tr>
          <td><Strong>Weight</Strong></td>
          <td>54 kg</td>
        </tr>
        <tr>
          <td><Strong>Episode Debut</Strong></td>
          <td>Episode One: Rebirth</td>
        </tr>
        <tr>
          <td><Strong>Japanese Voice Actor</Strong></td>
          <td>Mamoru Miyano</td>
        </tr>
        <tr>
          <td><Strong>English Voice Actor</Strong></td>
          <td>Brad Swaile</td>
        </tr>
      </tbody>
    </table>

    <hr>

    <table border="1" class="table table-striped">
      <tbody>
        <tr class="toCenter">
          <th>Description</th>
          <th colspan="2">L</th>
        </tr>
        <tr>
          <td rowspan="8" width="50%">
            <p class = "description">
              L is quite secretive, and only communicates with the world
              through his assistant, Watari. He never shows his face to the
              world in person, instead representing himself with a capital
              letter L. <br><br>L is very intelligent, though his disheveled and languid
              appearance masks his great powers of deduction and many question
              his abilities upon viewing him. L tends to second-guess everything
              he is presented with, and is extremely meticulous and analytical.
              He is good at deceiving his opponents, and is willing to take
              drastic measures to solve a case. He is also shown to have a dry
              sense of humor, and he isn't above making sarcastic remarks to
              people. Although he tends to be polite, to some, L can seem
              condescending at times. <br><br>He also has several quirks, such as
              preferring to crouch rather than sit, eating only sweet foods
              (like desserts, candies and fruits) and holding items by using
              only a thumb and a finger. He also has an unusual way of sitting,
              with both of his feet on the chair. He claims that if he sits
              normally, his reasoning ability would drop 40%. With his status
              as the world's greatest detective, he, like Light, has a very
              sensitive pride, being afraid to be wrong in his deductions and theories.
            </p>
          </td>
          <th colspan="2" class="toCenter">
            <a><img src="https://vignette.wikia.nocookie.net/deathnote/images/7/76/299276L.jpg/revision/latest/scale-to-width-down/226?cb=20160609084420"
            alt = "Picture of L"></a></th>
        </tr>
        <tr>
          <td><Strong>Species</Strong></td>
          <td>Human</td>
        </tr>
        <tr>
          <td><Strong>Age</Strong></td>
          <td>24-25</td>
        </tr>
        <tr>
          <td><Strong>Height</Strong></td>
          <td>179 cm</td>
        </tr>
        <tr>
          <td><Strong>Weight</Strong></td>
          <td>50 kg</td>
        </tr>
        <tr>
          <td><Strong>Episode Debut</Strong></td>
          <td>Episode Two: Confrontation</td>
        </tr>
        <tr>
          <td><Strong>Japanese Voice Actor</Strong></td>
          <td>Kappei Yamaguchi</td>
        </tr>
        <tr>
          <td><Strong>English Voice Actor</Strong></td>
          <td>Alessandro Juliani</td>
        </tr>
      </tbody>
    </table>

    <hr>

    <table border="1" class="table table-striped">
      <tbody>
        <tr class="toCenter">
          <th colspan="2">Ryuk</th>
          <th>Description</th>
        </tr>
        <tr>
          <th colspan="2" class="toCenter">
            <a><img src="https://vignette.wikia.nocookie.net/deathnote/images/a/a8/Ryuk_DN_Coloured.png/revision/latest/scale-to-width-down/310?cb=20170621011059"
           alt = "Picture of Ryuk"></a></th>
          <td rowspan="8" width="50%">
            <p class = "description">
              Ryuk is different from most Shinigami in that he does not want to
              simply pass time away in the Shinigami Realm but find something to
              relieve his boredom, and he is unaffected by the mocking he receives
              from other Shinigami for it. <br><br>Ryuk regards Light as "interesting,"
              specifically due to his experiments and the loopholes he discovers
              regarding the Death Note's rules and instructions, occasionally
              discovering abilities of the notebook even Ryuk did not know existed.
              Though he finds Light interesting, he does not care whether Light
              lives or dies and does not actively assist him. At times, he withholds
              important information from Light and only assists him when he has
              something to gain from it. As his only purpose in dropping the
              notebook was because he was bored, most of his actions are primarily
              motivated by wanting to see something interesting, as he sees Light's
              use of the Death Note and the way humans react to it as truly
              entertaining. Ryuk is intelligent, but Light's ability to understand
              his desires easily makes him able to be manipulated. <br><br>Ryuk has a
              great fondness for apples, stating the addiction to be an
              equivalent of cigarettes and alcohol for humans. He also states
              that he is shy around girls.
            </p>
          </td>
        </tr>
        <tr>
          <td><Strong>Species</Strong></td>
          <td>Shinigami</td>
        </tr>
        <tr>
          <td><Strong>Age</Strong></td>
          <td>Unknown</td>
        </tr>
        <tr>
          <td><Strong>Height</Strong></td>
          <td>Unknown</td>
        </tr>
        <tr>
          <td><Strong>Weight</Strong></td>
          <td>Unknown</td>
        </tr>
        <tr>
          <td><Strong>Episode Debut</Strong></td>
          <td>Episode One: Rebirth</td>
        </tr>
        <tr>
          <td><Strong>Japanese Voice Actor</Strong></td>
          <td>Shidō Nakamura</td>
        </tr>
        <tr>
          <td><Strong>English Voice Actor</Strong></td>
          <td>Brian Drummond</td>
        </tr>
      </tbody>
    </table>

    <hr>

    <table border="1" class="table table-striped">
      <tbody>
        <tr class="toCenter">
          <th>Description</th>
          <th colspan="2">Misa Amane</th>
        </tr>
        <tr>
          <td rowspan="8" width="50%">
            <p class = "description">
              Misa is very outgoing and is shown to be quite popular due to her
              career. She is hyperactive, impulsive, and otherwise childlike.
              Despite being considered idiotic by many, Misa is shown to have
              moments of intelligence. However, even though she is more powerful
              than Light as Kira, she is very careless in her acts as the Second
              Kira, which leads to her being arrested and put in confinement on
              suspicion that she is is the second Kira. <br><br> Although she is
              generally nice to those she meets, she can also be quite cruel:
              she tells Light that she would kill any other girls he dates,
              despite said girls being part of his plan to appear as a normal
              young man to the investigators and deflect suspicion from himself
              and Misa. <br><br> Despite her typically cheerful personality, Misa
              has been mentally afflicted by seeing her parents murdered right
              before her eyes. It is unclear how much the trauma has affected
              Misa psychologically. After the murderer is later killed by Kira,
              Misa is incredibly grateful, and her intense appreciation and
              hero-worship initially fuels her actions as the Second Kira. After
              she becomes emotionally attached to Light, her behavior is strongly
              motivated by love.<br><br>Light Yagami is an important figure in Misa's
              life, and she frequently comments on him being so, often declaring
              her love for him despite little reciprocation.
            </p>
          </td>
          <th colspan="2" class="toCenter">
            <a><img src="https://vignette.wikia.nocookie.net/deathnote/images/6/60/295978.jpg/revision/latest/scale-to-width-down/310?cb=20160609083641"
           alt = "Picture of Misa"></a></th>
        </tr>
        <tr>
          <td><Strong>Species</Strong></td>
          <td>Human</td>
        </tr>
        <tr>
          <td><Strong>Age</Strong></td>
          <td><p>19 (pre-timeskip)</p><p>24 (post-timeskip)</p></td>
        </tr>
        <tr>
          <td><Strong>Height</Strong></td>
          <td>152 cm</td>
        </tr>
        <tr>
          <td><Strong>Weight</Strong></td>
          <td>36 kg</td>
        </tr>
        <tr>
          <td><Strong>Episode Debut</Strong></td>
          <td>Episode 11: Assault</td>
        </tr>
        <tr>
          <td><Strong>Japanese Voice Actor</Strong></td>
          <td>Aya Hirano</td>
        </tr>
        <tr>
          <td><Strong>English Voice Actor</Strong></td>
          <td>Shannon Chan-Kent</td>
        </tr>
      </tbody>
    </table>

    <hr>

    <table border="1" class="table table-striped">
      <tbody>
        <tr class="toCenter">
          <th colspan="2">Rem</th>
          <th>Description</th>
        </tr>
        <tr>
          <th colspan="2" class="toCenter">
            <a><img src="https://vignette.wikia.nocookie.net/deathnote/images/2/2a/Remart.jpg/revision/latest/scale-to-width-down/310?cb=20160609085142"
           alt = "Picture of Rem"></a></th>
          <td rowspan="8" width="50%">
            <p class = "description">
              While Ryuk takes amusement in everything in the Human World, Rem
              is almost the exact opposite, viewing most humans with contempt.
              Also, while Ryuk is ambivalent to Light’s success or failure, Rem
              actively assists Misa. This makes her equally as guilty as Ryuk of
              not displaying 'proper' traits for a Shinigami to have. She is even
              willing to sacrifice her life to defend Misa, as evidenced by her
              threat to kill Light should Misa die before her time. For Misa's
              sake, however, she still assists Light in his schemes. <br><br> Rem
              "supposedly" experiences difficulty while writing the Japanese
              language and is said to be the artist’s favorite Shinigami since
              she is "a good person," even though she is a Shinigami.
            </p>
          </td>
        </tr>
        <tr>
          <td><Strong>Species</Strong></td>
          <td>Shinigami</td>
        </tr>
        <tr>
          <td><Strong>Age</Strong></td>
          <td>Unknown</td>
        </tr>
        <tr>
          <td><Strong>Height</Strong></td>
          <td>Unknown</td>
        </tr>
        <tr>
          <td><Strong>Weight</Strong></td>
          <td>Unknown</td>
        </tr>
        <tr>
          <td><Strong>Episode Debut</Strong></td>
          <td>Episode 11: Assault</td>
        </tr>
        <tr>
          <td><Strong>Japanese Voice Actor</Strong></td>
          <td>Kimiko Saitō</td>
        </tr>
        <tr>
          <td><Strong>English Voice Actor</Strong></td>
          <td>Colleen Wheeler</td>
        </tr>
      </tbody>
    </table>

    <hr>

    <table border="1" class="table table-striped">
      <tbody>
        <tr class="toCenter">
          <th>Description</th>
          <th colspan="2">Near</th>
        </tr>
        <tr>
          <td rowspan="8" width="50%">
            <p class = "description">
              Near is very intelligent, although his childish appearance and
              demeanor can cause others to question his abilities. He has an
              obsession with solving complex problems and views an investigation
              as solving a puzzle. He is highly observational and was once seen
              piecing together a puzzle that was almost entirely colored white.
              He is proficient when it comes to multitasking and is able to
              monitor multiple computer screens at once. Near also appears to be
              ambidextrous, playing darts with his left hand and stacking dice
              with his right.<br><br>Despite his genius abilities, Near has low
              social knowledge and is bad at interacting with others. Near is
              only able to display his true deductive powers when he has the
              support of his members and is distant from people because he is
              sensitive. Near is very calm and stable. He is also rather devious
              and isn't above using tactics that are "barely within the law," as
              he "values results above all else."<br><br>Near shows various unusual
              mannerisms during his day-to-day life. He is usually seen hunched
              over rather than sitting, and he also constantly plays with various
              toys, which he uses in his theories. However, despite his childish
              interests and activities, he seems to be the most mature in realistic
              compared to Light, L, and Mello, when it comes to his ideals, with
              a very pragmatic point of view on justice, being an existentialist.
            </p>
          </td>
          <th colspan="2" class="toCenter">
            <a><img src="https://vignette.wikia.nocookie.net/deathnote/images/a/a9/Manga_character_icon_Near.jpg/revision/latest/scale-to-width-down/310?cb=20170716181142"
           alt = "Picture of Near"></a></th>
        </tr>
        <tr>
          <td><Strong>Species</Strong></td>
          <td>Human</td>
        </tr>
        <tr>
          <td><Strong>Age</Strong></td>
          <td><p>13 (pre-timeskip)</p><p>17-18 (post-timeskip)</p></td>
        </tr>
        <tr>
          <td><Strong>Height</Strong></td>
          <td>155 cm</td>
        </tr>
        <tr>
          <td><Strong>Weight</Strong></td>
          <td>40 kg</td>
        </tr>
        <tr>
          <td><Strong>Episode Debut</Strong></td>
          <td>Episode 26: Renewal</td>
        </tr>
        <tr>
          <td><Strong>Japanese Voice Actor</Strong></td>
          <td>Noriko Hidaka</td>
        </tr>
        <tr>
          <td><Strong>English Voice Actor</Strong></td>
          <td>Cathy Weseluck</td>
        </tr>
      </tbody>
    </table>

    <hr>

    <table border="1" class="table table-striped">
      <tbody>
        <tr class="toCenter">
          <th colspan="2">Mello</th>
          <th>Description</th>
        </tr>
        <tr>
          <th colspan="2" class="toCenter">
            <a><img src="https://vignette.wikia.nocookie.net/deathnote/images/9/98/Mello.gif/revision/latest/scale-to-width-down/310?cb=20080924191115"
           alt = "Picture of Mello"></a></th>
          <td rowspan="8" width="50%">
            <p class = "description">
              While Mello is certainly a genius and more intelligent than most
              people, the concept of being only the second most intelligent person
              in Wammy's House, behind Near, fuels the inferiority complex that
              defines Mello's character. Mello verges on immorality in his
              obsession with being the one to take down Kira and is willing to
              do "whatever it takes”.  Arguably, Mello is not trying to defeat
              Kira out of a sense of "justice" but because capturing Kira will
              prove to the world that Mello is indeed the worthy successor to L
              as the world's greatest detective and not simply runner-up to Near.
              As Mello describes his goal in his own words, "I will become Number
              One!" <br><br> Mello's envy and hatred of Near was only one-sided and
              that Near "honestly liked Mello." Mello is not purely evil, has an
              excellent mind and that he sometimes lets his emotions get in his
              way. The writer of Death Note, has stated that Mello works hard
              for everything, unlike Near, whose intellectual gifts are natural.
              <br><br> Similar to L's fondness for sweets, Mello is seen eating only
              bars of chocolate, even when talking.
            </p>
          </td>
        </tr>
        <tr>
          <td><Strong>Species</Strong></td>
          <td>Human</td>
        </tr>
        <tr>
          <td><Strong>Age</Strong></td>
          <td><p>14 pre-timeskip</p><p>19-20 post-timeskip</p></td>
        </tr>
        <tr>
          <td><Strong>Height</Strong></td>
          <td>171 cm</td>
        </tr>
        <tr>
          <td><Strong>Weight</Strong></td>
          <td>52 kg</td>
        </tr>
        <tr>
          <td><Strong>Episode Debut</Strong></td>
          <td>Episode 26: Renewal</td>
        </tr>
        <tr>
          <td><Strong>Japanese Voice Actor</Strong></td>
          <td>Nozomu Sasaki</td>
        </tr>
        <tr>
          <td><Strong>English Voice Actor</Strong></td>
          <td>David Hurwitz</td>
        </tr>
      </tbody>
    </table>

    <!-- table that gets information from csv file and puts it into a table
      the table is a popularity ranking
      the variable characters is passed when rendering this template -->
    <br><br>
    <hr>
    <h2 style="font-family:fantasy">POPULARITY RANKING</h2>
    <hr>
    <table border="1" class="table table-striped">
      <tbody>
        <tr>
          <th>CHARACTERS</th>
          <th>Light</th>
          <th>L</th>
          <th>Ryuk</th>
          <th>Misa</th>
          <th>Rem</th>
          <th>Near</th>
          <th>Mello</th>
        </tr>
        <tr>
          <th>NUMBER OF VOTES</th>
          {% for char in characters %}
            <td>{{char}}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
