{% extends "baseTemplate.html" %}

{% block title %}{{ super() }} - Discussion{% endblock %}

<!-- this page is the discussion page where users can post their thoughts -->
<!-- the posts are stored in a csv file which are passed into this template.
  This page will iterate through all the posts and post them one by one -->
<!-- blog posts that were made with the help of: https://github.com/CoreyMSchafer/code_snippets/blob/master/Python/Flask_Blog/08-Posts/flaskblog/templates/post.html-->
{% block content %}
  <div class="titles">
    <h1>DISCUSSION</h1>
  </div>
  <div class="container">
    {% for post in posts %}
      <!-- creating a variable that keeps track of the row index a post is
          stored in the csv file -->
      <script>
        let index_{{post[4]}} = {{post[4]}}
      </script>
      <!-- sees who the favourite character of the post author is {{post[3]}} to
            show an image of that character representing their profile picture -->
      <article class="media content-section" >
        {% if post[3] == '1' %}
          <img src="https://vignette.wikia.nocookie.net/deathnote/images/0/05/299276.jpg/revision/latest/scale-to-width-down/212?cb=20160609084120"
          alt = "Picture of Light" class="littleProfile" width=6%>
        {% elif post[3] == '2' %}
          <img src="https://vignette.wikia.nocookie.net/deathnote/images/7/76/299276L.jpg/revision/latest/scale-to-width-down/226?cb=20160609084420"
          alt = "Picture of L" class="littleProfile" width="8%">
        {% elif post[3] == '3' %}
          <img src="https://vignette.wikia.nocookie.net/deathnote/images/a/a8/Ryuk_DN_Coloured.png/revision/latest/scale-to-width-down/310?cb=20170621011059"
          alt = "Picture of Ryuk" class="littleProfile" width="8%">
        {% elif post[3] == '4' %}
          <img src="https://vignette.wikia.nocookie.net/deathnote/images/6/60/295978.jpg/revision/latest/scale-to-width-down/310?cb=20160609083641"
          alt = "Picture of Misa" class="littleProfile" width="9%">
        {% elif post[3] == '5' %}
          <img src="https://vignette.wikia.nocookie.net/deathnote/images/2/2a/Remart.jpg/revision/latest/scale-to-width-down/310?cb=20160609085142"
          alt = "Picture of Rem" class="littleProfile" width="10%">
        {% elif post[3] == '6' %}
          <img src="https://vignette.wikia.nocookie.net/deathnote/images/a/a9/Manga_character_icon_Near.jpg/revision/latest/scale-to-width-down/310?cb=20170716181142"
          alt = "Picture of Near" class="littleProfile" width="9%">
        {% else %}
          <img src="https://vignette.wikia.nocookie.net/deathnote/images/9/98/Mello.gif/revision/latest/scale-to-width-down/310?cb=20080924191115"
          alt = "Picture of Mello" class="littleProfile" width="10%">
        {% endif %}
        <div class="media-body">
          <div class="article-metadata">
              <!-- {{post[2]}} represents the author of the post's username -->
              <p id="user"><strong><em>{{ post[2] }}</em></strong></p>
          <!-- {{post[0]}} is the post's title, {{post[1]}} is the post's content -->
          </div>
          <h2 class="article-title" >{{ post[0] }}</h2>
          <p class="article-content">{{ post[1]}}</p>
          <!-- if the post being posted on the discussion page is written by
            the user currently signed in, the allow the user the option to delete
            their post -->
          {% if post[2] == user %}
          <div>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal_index_{{post[4]}}">Delete</button>
          </div>
          {% endif %}
        </div>
      </article>
      <!-- if user decides to delete their post -->
      <!-- Modal -->
      <div class="modal fade" id="deleteModal_index_{{post[4]}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <!-- {{post[4]}} represents the the row index a post is
                      stored in the csv file, therefore, we will return the
                      corresponding index of the post we wish to delete to the
                      delete_post function -->
                  <form action="{{ url_for('delete_post', post_id= post[4] ) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                  </form>
                </div>
              </div>
            </div>
          </div>
      {% endfor %}
  </div>
{% endblock %}
