{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

<!-- page that generates when someone forgot their password -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forgot Password</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
  <h1 class="titles">Reset Password</h1>
  <div class="container register_password">
    <div class="page">
    <div id="imgRegisterRight">
      <img src="https://i.pinimg.com/originals/e6/df/11/e6df11731347f3cb89c57d76e0036329.jpg" class="img-responsive"
         alt="register side image" width="100%" overflow="hidden">
    </div>
    <div id="resetPass">
    {% for message in get_flashed_messages() %}
        {{ message }}<br/>
    {% endfor %}
    <!-- form to fill in information -->
    <form action="/forgot_password" method="post">
        {{ form.csrf_token }}
        <dl>
            {{ render_field(form.username) }}
            <br>
            {{ render_field(form.password) }}
            <br>
            {{ render_field(form.password2) }}
            <br>
        </dl>
            {{ form.submit }}
    </form>
    </div>
    </div>
  </div>
</body>
</html>
