{% extends "baseTemplate.html" %}

{% block title %}{{ super() }} - Home{% endblock %}
<!-- the home page of my website -->
{% block content %}
  <div class="container">
    <img src="https://www.wallpaperflare.com/static/409/877/285/death-note-yagami-light-ryuk-anime-wallpaper.jpg"
          class="img-responsive" width=100% alt="cover image">
    <div class="page">
      <!-- sidebar that contains links to information about spin-offs -->
      <div id="sidebar" class="link">
        <br>
        <h4 style="font-family:fantasy">Information and Spin-offs</h4>
        <hr> <br>
        {% for post in posts %}
            <h1>{{ post.title }}</h1>
            <p>By {{ post.author }} on {{ post.date_posted }}</p>
            <p>{{ post.content }}</p>
        {% endfor %}
      </div>
      <!-- description about website -->
      <div id="homeContent">
        <h2 style="font-family:fantasy">Welcome to a <br> Death Note <br> Fan Page</h2>
        <hr>
        <p>
          This website is a fan page for the popular anime series Death Note. This site includes
          multiple pages that are intended to be read if one is interested in watching this show
          or has already seen it and desires reading other's opinions about certain topics, or
          even discuss their own.
        </p>
        <br>
        <iframe width="420" height="345" src="https://www.youtube.com/embed/tJZtOrm-WPk"></iframe>
        <br>
      </div>
    </div>
  </div>
{% endblock %}
