<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Death Note FanPage- Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">

</head>
<body>
<h1 class="titles">Login</h1>
<div class="container" id = "loginContainer">
    <img src="https://camo.githubusercontent.com/01b35034f6c2d1c8670559d0a989b0d05a46f1aa/68747470733a2f2f7773332e73696e61696d672e636e2f6c617267652f303036744e633739677931666979387a32756a37616a3330377a30377a7133682e6a7067"
        alt="Death Note Skull" id="loginImg">
    <br>
    <p>
      <h3 class="loginFont"><Strong>Already a member?</Strong></h3>
      Sign into your account
    <p class="loginFont">
    <hr>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {%  if messages %}
          {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
          {% endfor %}
      {%  endif %}
  {% endwith %}
    <form action="/login" method="post">
        {{ form.csrf_token }}
        <h3 class="loginFont">Username</h3>
        {{ form.username }}<br/><br>
        <h3 class="loginFont">Password</h3>
        {{ form.password }}<br/>
        <div class="form-check">
            {{ form.remember(class="form-check-input") }} {{ form.remember.label(class="form-check-input") }}<br /> <br />
        </div>
        <a class="link" href="/forgot_password">Forgot password?</a><br><br>
        {{ form.submit }}
    </form>
</div>
</body>
</html>
