<!-- Code inspired from https://github.com/CoreyMSchafer/code_snippets/tree/master/Python/Flask_Blog/08-Posts/flaskblog -->

{% extends "baseTemplate.html" %}
{% block content %}
    <h2>{{ title }}</h2>
    {% for user in users %}
        {% if user.userType|string() != 'Administrator' %}
                    <div>
                        {{ user.email }}
                        <span>

                {% if user.condition|string() == 'Active' %}
                    <a class="btn btn-danger sb-4" style="float: right; margin-left: 10px;" href="{{ url_for('deactivate_user', user_id=user.id) }}">Deactivate</a>
                {% else %}
                    <a class="btn btn-info sb-4" style="float: right; margin-left: 10px;" href="{{ url_for('activate_user', user_id=user.id) }}">Activate</a>
                {% endif %}
                            {% if user.frozen %}
                    <a class="btn btn-info sb-4" style="float: right;" href="{{ url_for('unfreeze_user', user_id=user.id) }}">Unfreeze</a>
                {% else %}
                    <a class="btn btn-warning sb-4" style="float: right;" href="{{ url_for('freeze_user', user_id=user.id) }}">Freeze</a>
                {% endif %}
                </span>
                    </div>
        {% endif %}
    {% endfor %}
{% endblock content %}
