<!-- Code inspired from https://github.com/CoreyMSchafer/code_snippets/tree/master/Python/Flask_Blog/08-Posts/flaskblog -->

{% extends "baseTemplate.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{ current_user.name }}</h2>
          <p class="text-secondary">User Type: {{ current_user.userType }}</p>
            <p class="text-secondary">User: {{ current_user }}</p>
            <p class="text-secondary">Email: {{ current_user.email }}</p>
            {% if current_user.userType|string() == 'Employer' %}
            <p class="text-secondary">Monthly Charges: {{ current_user.monthlyChargesEmployer }}</p>
            {% elif current_user.userType|string() == 'Employee' %}
            <p class="text-secondary">Monthly Charges: {{ current_user.monthlyChargesEmployee }}</p>
            {% endif %}

        </div>
      </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            {% if current_user.userType|string() == 'Employee' %}
                <div class="form-group">
                    {{ form.monthlyChargesEmployee.label(class="form-control-label") }}
                    {% if form.monthlyChargesEmployee.errors %}
                        {{ form.monthlyChargesEmployee(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.monthlyChargesEmployee.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.monthlyChargesEmployee(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            {% elif current_user.userType|string() == 'Employer' %}
                <div class="form-group">
                    {{ form.monthlyChargesEmployer.label(class="form-control-label") }}
                    {% if form.monthlyChargesEmployer.errors %}
                        {{ form.monthlyChargesEmployer(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.monthlyCharges.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.monthlyChargesEmployer(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            {% endif %}
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
                {% if current_user.userType|string() == 'Employee'  %}
                    <button type="button" class="btn btn-danger btn-ml m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                {% endif %}
            </div>
        </form>
    </div>
    <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Account?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{ url_for('delete_user', user_id=current_user.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}